driver: freenas-iscsi

httpConnection:
  protocol: http
  host: ${TRUENAS_HOST}
  port: 80
  #apiKey: 
  username: ${TRUENAS_USERNAME}
  password: ${TRUENAS_PASSWORD}

sshConnection:
  host: ${TRUENAS_HOST}
  port: 22
  username: ${TRUENAS_USERNAME}
  password: ${TRUENAS_PASSWORD}

zfs:
  datasetParentName: tank/ci/${CI_BUILD_KEY}/v
  detachedSnapshotsDatasetParentName: tank/ci/${CI_BUILD_KEY}/s

  zvolCompression:
  zvolDedup:
  zvolEnableReservation: false
  zvolBlocksize:

iscsi:
  targetPortal: ${TRUENAS_HOST}
  interface: ""
  namePrefix: "csi-ci-${CI_BUILD_KEY}-"
  nameSuffix: ""
  targetGroups:
    - targetGroupPortalGroup: 1
      targetGroupInitiatorGroup: 1
      targetGroupAuthType: None
      targetGroupAuthGroup:
  # 0-100 (0 == ignore)
  extentAvailThreshold: 0
